<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>1024 Develepoment | 1024 Ideas</title>
  <meta name="title" content="1024 Develepoment | 1024 Ideas | 1024.tk | www.1024.tk" />
  <meta name="description" content="1024 Develepoment | 1024 Ideas | 1024.tk | www.1024.tk" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=greek"
    rel="stylesheet">

  <link rel="stylesheet" href="style.css">

</head>

<body>
  <div class="full-page-wrapper">
    <h1>1024Dev</h1>
    <h2>Coming Soon</h2>
    <h2>Stay Tuned</h2>
    <img src="api.c99e353f761d.gif" alt="">
  </div>

</body>

</html>